In [170]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,mean_squared_error

In [171]:
data=pd.read_csv("https://raw.githubusercontent.com/PasinduChanusha/ML/main/Boston.csv")

In [172]:
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [173]:
x=data.iloc[:,:12].values
y=data.iloc[:,12].values

In [174]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [175]:
rfcl=RandomForestClassifier()
rfcl.fit(x_train,y_train)
y_pred=rfcl.predict(x_test)
accuracy_score(y_test,y_pred)

In [176]:
rfrg=RandomForestRegressor()
rfrg.fit(x_train,y_train)
y_pred=rfrg.predict(x_test)
np.sqrt(mean_squared_error(y_test,y_pred))

57.90256934791126